a {
  text-decoration: none;
}

nav{
  margin:0;
  padding:0;
}

nav ul{
  margin:0;
}

nav ul, footer ul{
  display:flex;
  justify-content:end;
  align-items: center;
  margin:10px;
}

nav li{
  list-style-type:none;
  margin:15px;
}

footer li{
  list-style-type:none;
  margin-left:15px;
  margin-right:15px;
}

nav a, footer a{
  font-size: 1em;
  font-weight: 700;
  color:#333333;
  text-decoration:none;
}

nav a:hover, footer a:hover{
  color:#778F6D;
}

.footer-container{
  text-align: center;
  padding:10px;
  background-color: #778F6D;
}

.btn{
  color:#FFFFFF;
  border-radius:20px;
  padding:8px 20px 8px 20px;
  font-size:17px;
  font-weight: 600;
}

.btn:hover{
  background-color:#FFFFFF;
  text-shadow:0px 0px 0px #333333;
  font-weight: 500;
}

.btn-green{
  background-color:#638746;
}

.btn-green:hover{
  border: 2px solid #638746;
  color:#638746;
}

.btn-orange{  
  background-color:#C99642;
}

.btn-orange:hover{
  border: 2px solid #C99642;
  color: #C99642;
}

#logo{
  display:flex;
  justify-content: start;
}

.header-logosize{
  width:40px;
  height:40px;
}

#index-banniere{
  padding:0;
  height: 400px;
  background-image: url(../images/colorado.jpeg);
  background-size: cover;
  background-position: center;
}

#articles-banniere{
  padding:0;
  height: 400px;
  background-image: url(../images/antelope-canyon1.jpg);
  background-size: cover;
  background-position: center;
}

body{
  font-family: 'IBM Plex Sans', sans-serif;
/*  color:#333333;*/
}

h1{
  text-align: center;
  margin:auto;
  font-size: 2.2em;
  color:#FFFFFF;
}

.center{
  text-align: center;
}

form{
  text-align: left;
  width: 320px;
  margin:auto;
  padding:5px;
}
form input, form textarea{
  width:180px;
  border:none;
  padding-left:8px;
  border-radius: 5px;
  margin-bottom:15px;
  font-family: 'IBM Plex Sans', sans-serif;
}
form input{
  margin-top:5px;
  height:40px;
}
form textarea{
  margin-top:5px;
  height:90px;
}

form button{
  text-align: center;
  margin-left:80px;
  margin-right:80px;
  width:50%;
  border:none;
}
::placeholder{
  color:#FFFFFF;
  text-shadow: 1px 1px 2px #333333;
}
.submit{
  width:315px;
  height:40px;
}

.bold{
  font-weight: 600;
}

.nom_prenom{
  width:140px;
}
.contact{
  width:300px;
}

.grid{
  display: flex;
  justify-content: center;
}

.element{
  margin: auto;
  width:50%;
}

section{
  display: flex;
  justify-content: center;
  width: 50%;
  height: 400px;
  margin:auto;
  vertical-align: middle;
}

.mail{
  border-radius: 0px;
  width:32px;
  height:32px;
  background: url("../images/enveloppe_2.png") no-repeat;
}

.mail:hover{
  background: url("../images/enveloppe_1.png") no-repeat;
  transition-duration: 0s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  cursor:pointer;
}

.github{
  border-radius: 0px;
  width:32px;
  height:32px;
  background: url("../images/github_2.png") no-repeat;
  margin-bottom:2px;
}

.github:hover{
  background: url("../images/github_1.png") no-repeat;
  transition-duration: 0s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  cursor:pointer;
}

.linkedin{
  border-radius: 0px;
  width:32px;
  height:32px;
  background: url("../images/linkedin_2.png") no-repeat;
}

.linkedin:hover{
  background: url("../images/linkedin_1.png") no-repeat;
  transition-duration: 0s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  cursor:pointer;
}

.link{
  border-radius: 0px;
  width:32px;
  height:32px;
  background: url("../images/link_1.png") no-repeat;
}
.link:hover{
  border-radius: 0px;
  width:32px;
  height:32px;
  background: url("../images/link_2.png") no-repeat;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  cursor:pointer;
}

.true{
  border-radius: 0px;
  width:32px;
  height:32px;
  background: url("../images/true_1.png") no-repeat;
}
.true:hover{
  border-radius: 0px;
  width:32px;
  height:32px;
  background: url("../images/true_2.png") no-repeat;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  cursor:pointer;
}

.false{
  border-radius: 0px;
  width:32px;
  height:32px;
  background: url("../images/false_1.png") no-repeat;
}
.false:hover{
  border-radius: 0px;
  width:32px;
  height:32px;
  background: url("../images/false_2.png") no-repeat;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  cursor:pointer;
}


.green{
  color:#638746;
}

h2{
  text-align:center;
}

.uppercase{
  text-transform: uppercase;
  letter-spacing: 1px;
}

.lined{
  padding:0px 48px;
}

.grid-three{
  display: flex; 
  flex-flow:row;
  justify-content: center;
  align-items: center;
}


.grid-five{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 3fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}

.moderation{
  width:70px;
}

.transition:hover{
  transition-duration: 0.2s;
}

button{
    background:#59873C;
    border:none;
    border-radius:10px;
    height:30px;
    }

button:hover{
  transition-duration: 0.2s;
  box-shadow: 4px 2px 2px rgba(0,0,0,0.5);
}

hr{
  flex:1;
  height:5px; 
  border-width:0;
  color:#C99642;
  background-color:#C99642;
}

.big-white{
  color:#FFFFFF;
  background-color: #FFFFFF;
  text-shadow: 1px 1px 2px #333333;
}

.small-beige{
  height:2px; 
  border-width:0;
  color:#FDF7EF;
  background-color:#FDF7EF;
}

.small-gray{
  height:2px; 
  border-width:0;
  color:#FDF7EF;
  background-color:#F6F8F5;
}

.short{
  width:4%;
  text-align:left;
  margin-left:0;
}

.picture{
  padding:0;
  height: 400px;
  background-image: url(../images/dev.png);
  background-size: cover;
  background-position: center;
}

.margin-content{
  margin:50px;
}

.corps{
  padding:5px;
}

.corps-yellow{
  background-color:#E0BE6C;
}

.grid-grow{
  display:flex;
  flex-grow: 4;
  justify-content: center;
}

.item{
  padding:15px;
}

.white-shadow{
  color:#FFFFFF;
  text-shadow: 1px 1px 2px #333333;
}

.news{
  background-color: #F6F8F5;
  margin:20px 40px 20px 40px;
/*  margin-right:40px;*/
  padding-bottom:10px;
}

.art-img{
  width:400px;
  height:300px;
}
/*
.fit-picture{
  max-width:100%;
/*  height:500px;
background-size:cover;
}*/

.article-banniere{
  padding:0;
  height: 400px;
}

.center{
  text-align: center;
}

.align-right{
  text-align: right;
}

.underline{
  text-decoration: underline;
}

.border{
  width:300px;
  height:300px;
  border: 2px solid black; 
}

.gray-border{
  border: 2px solid #EFF3EE;
}

.orange{
  color:#C7633F;
}

@media (max-width: 600px) {
    nav ul, footer ul {
       flex-direction: column;
    }
    .grid, .grid-grow{
      flex-direction: column;
    }
    .grid-five, .gridmedia{
      display:flex;
      flex-direction: column;
    }
    .gridmedia > a{
      margin:5px;
    }
    .media{
      width:300px;
/*      height:400px;*/
    }
}
